/HouseholdAccountBook/obj
/HouseholdAccountBook/bin
/packages
/HouseholdAccountBook/ngen.bat
/HouseholdAccountBook/ngen.bat
/.vs/HouseholdAccountBook/v15/Server
/.vs/HouseholdAccountBook/v15/sqlite3
/~$DbSpecifications.xlsx
