<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HouseholdAccountBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <HouseholdAccountBook.Properties.Settings>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_BackUpNum" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="App_BackUpFolderPath" serializeAs="String">
        <value>backup</value>
      </setting>
      <setting name="App_Postgres_Host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="App_Postgres_Port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="App_Postgres_UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_DatabaseName" serializeAs="String">
        <value>account_book</value>
      </setting>
      <setting name="App_StartMonth" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="App_ColumnWidth_Value" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="MainWindow_SelectedBookId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_KichoDBFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_CustomFormatFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_DumpExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_RestoreExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_InitFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_Postgres_Role" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionListRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
    </HouseholdAccountBook.Properties.Settings>
  </userSettings>
</configuration>