<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HouseholdAccountBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <HouseholdAccountBook.Properties.Settings>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MoveRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_BackUpNum" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="App_BackUpFolderPath" serializeAs="String">
        <value>backup</value>
      </setting>
      <setting name="App_Postgres_Host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="App_Postgres_Port" serializeAs="String">
        <value>5432</value>
      </setting>
      <setting name="App_Postgres_UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_DatabaseName" serializeAs="String">
        <value>account_book</value>
      </setting>
      <setting name="App_StartMonth" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="App_ColumnWidth_Value" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="MainWindow_SelectedBookId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_KichoDBFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_CustomFormatFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_DumpExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_Postgres_RestoreExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="App_InitFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_Postgres_Role" serializeAs="String">
        <value />
      </setting>
      <setting name="ActionListRegistrationWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ActionListRegistrationWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_Postgres_DatabaseName_Debug" serializeAs="String">
        <value>account_book_debug</value>
      </setting>
      <setting name="App_Version" serializeAs="String">
        <value />
      </setting>
      <setting name="MainWindow_WindowState" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SettingsWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SettingsWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SettingsWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SettingsWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CsvComparisonWindow_Height" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CsvComparisonWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CsvComparisonWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CsvComparisonWindow_Width" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_CsvFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="TermWindow_Top" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="TermWindow_Left" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_BackUpFlagAtMinimizing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_BackUpFlagAtClosing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_NationalHolidayCsv_Uri" serializeAs="String">
        <value>https://www8.cao.go.jp/chosei/shukujitsu/syukujitsu_kyujitsu.csv</value>
      </setting>
      <setting name="App_NationalHolidayCsv_DateIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindow_SelectedTabIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MainWindow_SelectedGraphKindIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="App_IsDebug" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_InitSizeFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_IsPositionSaved" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindow_SelectedGraphKind2Index" serializeAs="String">
        <value>-1</value>
      </setting>
    </HouseholdAccountBook.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>